:root {
  // ---------- COLOURS
  --color-neutral-100: hsl(0, 0%, 100%);
  --color-neutral-700: hsl(0, 0%, 20%);
  --color-neutral-800: hsl(0, 0%, 12%);
  --color-neutral-900: hsl(0, 0%, 8%);

  --color-primary: hsl(75, 94%, 57%);

  --color-body: var(--color-neutral-900);

  // ---------- TYPOGRAPHY

  // ----- Fonts
  --fw-regular: 400;
  --fw-semibold: 600;
  --fw-bold: 700;

  --fs-100: 0.875rem; // 14px
  --fs-200: 1.5rem; // 24px

  --ff-primary: 'Inter', sans-serif;

  // ----- Copy
  --copy-font: var(--fw-regular) var(--fs-100) var(--ff-primary);
  --copy-leading: 150%;
  --copy-color: var(--color-neutral-100);
  --copy-color-span: var(--color-primary);

  // ----- Heading
  --heading-fw: var(--fw-semibold);

  // ---------- COMPONENTS

  // ----- Profile Item
  --profile-item-text-align: center;
  --profile-item-bg: var(--color-neutral-800);
  --profile-item-radius: 12px;
  --profile-item-padding: 2.5rem;
  --profile-item-gap: 1.5rem;

  --profile-item-img-radius: 99rem;
  --profile-item-img-width: 5.5rem;

  --profile-item-info-gap: 0.75rem;

  --profile-item-link-gap: 1rem;
  --profile-item-link-fw: var(--fw-semibold);
  --profile-item-link-item-padding-block: 0.75rem;
  --profile-item-link-item-bg: var(--color-neutral-700);
  --profile-item-link-item-bg-active: var(--color-primary);
  --profile-item-link-item-radius: 8px;
  --profile-item-link-item-color: var(--color-neutral-100);
  --profile-item-link-item-color-active: var(--color-neutral-900);
  --profile-item-link-item-transition: 150ms ease-in-out all;
}
