:root {
  // ---------- COLOURS
  --color-neutral-100: hsl(0, 0%, 100%);
  --color-neutral-700: hsl(0, 0%, 20%);
  --color-neutral-800: hsl(0, 0%, 12%);
  --color-neutral-900: hsl(0, 0%, 8%);

  --color-primary: hsl(75, 94%, 57%);

  --color-body: var(--color-neutral-900);

  // ---------- TYPOGRAPHY

  // ----- Fonts
  --fw-regular: 400;
  --fw-semibold: 600;
  --fw-bold: 700;

  --fs-100: 0.875rem; // 14px
  --fs-200: 1.5rem; // 24px

  --ff-primary: 'Inter', sans-serif;

  // ----- Copy
  --copy-font: var(--fw-regular) var(--fs-100) var(--ff-primary);
  --copy-leading: 150%;
  --copy-color: var(--color-neutral-100);
}
