:root {
  // ---------- COLOURS
  --color-neutral-100: hsl(0, 0%, 100%);
  --color-neutral-700: hsl(0, 0%, 20%);
  --color-neutral-800: hsl(0, 0%, 12%);
  --color-neutral-900: hsl(0, 0%, 8%);

  --color-primary: hsl(75, 94%, 57%);

  --color-body: var(--color-neutral-900);
}
