@use '../abstracts/mixins' as mixin;

/***
 * Inter
 */

@include mixin.font-face(
  $font-family: 'Inter',
  $font-path: '../assets/fonts/inter/Inter-VariableFont_slnt,wght.ttf',
  $font-weight: 400 700
);
